[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
boto3 = "*"
requests = "*"

[dev-packages]
chalicedemo = {editable = true,path = "."}
black = "==19.3b0"
pylint = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-chalice = "*"
chalice = "*"
